<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTool_ListFusen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyTool_ListFusen.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="textBoxFStyle" serializeAs="String">
                <value>メイリオ, 9.75pt</value>
            </setting>
            <setting name="textBoxFColor" serializeAs="String">
                <value>204, 206, 208</value>
            </setting>
            <setting name="listBoxFStyle" serializeAs="String">
                <value>メイリオ, 10pt</value>
            </setting>
            <setting name="listBoxFColor" serializeAs="String">
                <value>204, 206, 208</value>
            </setting>
            <setting name="splitDist" serializeAs="String">
                <value>179</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deactiveSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSaveT" serializeAs="String">
                <value>36000000</value>
            </setting>
            <setting name="autoSaveTId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="panelColor1" serializeAs="String">
                <value>140, 175, 50</value>
            </setting>
            <setting name="panelColor2" serializeAs="String">
                <value>100, 128, 60</value>
            </setting>
        </MyTool_ListFusen.Properties.Settings>
    </userSettings>
</configuration>